<%= form_with url: "/movies", method: :get do |f| %>
  <%= f.date_field :date %>
  <%= f.submit "Filtrar" %>
<% end %>
<br>
<%= link_to 'Ir a Inicio', root_path %>
<br>
<div class="movies">
  <% @movies.each do |movie| %>
    <div class="movie-card">
      <%= image_tag movie.image %>
      <h1 class="movie-title"><%= movie.title %></h1>
      <h5>Haz click en la sala para reservar<h5>
      <div class="schedule-container">
        <span>MATINÉ: </span> 
        <div class="rooms">
          <% movie.movie_shows.each do |movie_show| %>
            <span><%= link_to "Sala #{movie_show.room}", new_reservation_path(:movie_show_id => movie_show.id) if movie_show.showtime=="matine"%></span>
          <% end %>
        </div>
      </div>
      <div class="schedule-container">
        <span>TANDA:</span> 
        <div class="rooms">
          <% movie.movie_shows.each do |movie_show| %>
            <span><%= link_to "Sala #{movie_show.room}", new_reservation_path(:movie_show_id => movie_show.id) if movie_show.showtime=="tanda"%></span>
          <% end %>
        </div>
      </div>
      <div class="schedule-container">
        <span>NOCHE: </span> 
        <div class="rooms">
          <% movie.movie_shows.each do |movie_show| %>
            <span><%= link_to "Sala #{movie_show.room}", new_reservation_path(:movie_show_id => movie_show.id) if movie_show.showtime=="noche"%></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>