<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoBDccineGrupo6</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%if flash[:alert] %>
    <div class="alert error">
      <%= flash[:alert]%>
    </div>
  <%end%>
  <%if flash[:notice]%>
    <div class="alert success">
      <%= flash[:notice]%>
    </div>
  <%end%>
    <%= yield %>
    <%= link_to 'Volver', :back %>
  </body>
</html>
